.root {
  display: flex;
}

nav a {
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
  color: silver;
  display: flex;
  padding: 15px;
  text-decoration: none;
  width: 100%;
}

.active {
  filter: grayscale(100%) brightness(30%);
  font-weight: 900;
}

header {
  background-color: white;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.205);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 350px;
  position: fixed;
  z-index: 10;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 700px;
  justify-content: center;
}

nav img {
  filter: grayscale(100%) brightness(250%);
  margin-right: 10px;
  max-width: 20px;
}

.header-components {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.header .loading {
  align-items: center;
  background-color: white;
  color: #3e3e3e;
  justify-content: center;
}

.profile-name-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
  margin-top: 50px;
  margin-left: -10px;
  padding: 5px;
}

.profile-name-image img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  object-fit: cover;
}

.profile-name-image p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

.logo-trybetunes {
  margin-top: 50px;
  max-width: 200px;
}

@media (max-width: 780px) {
  .root {
    flex-direction: column;
  }

  header {
    position: relative;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.205);
    display: flex;
    max-height: 150px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;  
    max-width: none;

  }

  .header {
    width: 100vw;
  }

  nav {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    scale: 0.9;
    width: 70%;
  }

  nav a {
    align-items: center;
    border: 0;
    display: flex;
    padding: 12px;
    text-decoration: none;
  }
  .logo-trybetunes {
    margin-top: 20px;
    width: 100px;
  }
  .profile-name-image {
    margin: 0;
    margin-left: 15px;
    scale: 0.8;
    border: none;
    width: 25%;
  }

  .header-components {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 100vw;
    justify-content: flex-start;
  }
}
